body {
    font-family: "poiret one";
}

li {
    margin-left: 25px;
}

li a {
    margin-right:15px;
    font-size: 1.4em;
    color: white;
    text-transform: uppercase;
}

.navbar-style {
    background-color: black;
    border-radius: 0px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 215px;
    height: 150px;
    
}

.icon-bar {
    background: white;
}

.accueilH1 {
    margin-top: 120px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 3px gray;
}

.accueil {
    background-image: url("img/driping.png");
    background-repeat: no-repeat;
    margin-top: -20px;
    min-height: 80vh;
}


.accueilP {
    width: 90%;
    font-size: 1.3em;
    text-align: left;
}

.accueilP p {
    margin-top: 40px;
}

#p2 {
    margin-top: 20px;
 }

 .casquettes {
    margin-top: 70px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.casquettesH1 {
    
    text-align: center;
    color: black;
    text-shadow: 2px 2px 3px gray;
}

.casquettesImg {
    margin-top: 40px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.casquettesImg img {
    width: 260px;
    height: 195px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
    
.casquettesImg img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.lettrage {
    margin-top: 80px;
    
}

.lettrage h2{
    text-shadow: 2px 2px 3px gray;
    text-align: center;
    color: black;
    
}
 .lettrageH1 p {
     text-align: center;
    margin-top: 40px;
    font-size: 1.4em;
 }
.lettrageImg {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.lettrageImg img {
    width: 500px;
    height: 300px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.exterieur {
    margin-top: 70px;
}
.exterieur h2{
    text-shadow: 2px 2px 3px gray;
    text-align: center;
    color: black;
}
.exterieurH1 p{
    text-align: center;
    margin-top: 40px;
    font-size: 1.4em;
}
.exterieurImg{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.exterieurImg img{
    width: 500px;
    height: 300px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.titre h1{
    text-shadow: 2px 2px 3px gray;
    text-align: center;
}
.titre p {
    margin-top: 80px;
    text-align: center;
    font-size: 1.5em;
}
.formulaire {
    margin-top: 80px;
}

.formulaire h2 {
    text-shadow: 2px 2px 3px gray;
    text-align: center;
    margin-bottom: 50px;
}
footer {
    
    margin-top: 80px;
    background-color: black;
    color: white;
    display: flex;  
    justify-content: space-between;
}
#Copyright {
    display: inline-block;
    margin: auto 0;
    padding-left: 20px;
    font-size: 1.1em;
}
#footerLogo {
    width: 155px;
    height: 90px;
}

.aPropos {
    text-align: justify;
}
@media screen and (min-width: 1140px){
    .navbar-nav {
        margin-top: 85px;
        margin-left: 25px;
    }
    .accueilP {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 400px){
    .lettrageImg img {
        width: 260px;
        height: 160px;
    }
    .logo {
        width: 115px;
        height: 85px;
    }
    #footerLogo {
        width: 95px;
        height: 65px;
    }
    li a {
        font-size: 1em;
    }
    .exterieurImg img {
        width: 260px;
        height: 160px;
    }
}
